<ul class="list-group"   style= "margin-top: 150px;">
  <li style="display: block;"><a routerLink="/create-user"> <button class="btn btn-primary">Add User</button></a></li><br>
</ul>

<div class="mat-elevation-z8">
  <table class="table table-striped;" style="width: 100%;">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Domaine</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor = "let user of users">
      <td>{{user.id}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.tel}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.domaine}}</td>
      <td>{{user.x_eb_role?.libelle}}</td>
      <td><a [routerLink]="['/edit-user', user.id]" class="btn btn-primary" style="margin-left: 20px;"> Edit</a>| 
          <button class="btn btn-danger" (click)="deleteUser(user.id)"> Delete</button></td>      
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
</div>



